SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", MODE="0660", TAG+="uaccess", SYMLINK+="itel_RC", ATTRS{serial}=="A904DPAC"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6015", MODE="0660", TAG+="uaccess", SYMLINK+="itel_HV", ATTRS{serial}=="FT5NH17Z"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6010", MODE="0660", TAG+="uaccess", SYMLINK+="itel_DAQ", ATTRS{serial}=="210292B181BB"
